<div class="center">
  <div class="leader">
    <h1><%= t("index_title")%><h1>
    <p>See how Hot Weibos are performing - updated every 1 hour</p>
  </div>
  <div class="created_info">
    <p>
      <% if params["created"] == "success" || params["created"] == "error"%>
        <%= t("creating_info")%><%= t("creating_#{params["created"]}")%>
        <%= link_to_function "x", "$('.created_info').toggle()" %>
      <% end %>
    </p>
  </div>
  <div class="try">
    <h1><%= t("add_target_user")%><h1>
    <p><%= t("add_step")%></p>
    <%= form_tag(wb_target_users_path, method: "post", class: "form-inline") do %>
      <%= text_field_tag(:account_url) %>
      <%= submit_tag(t("add"), class: "btn btn-primary btn-large") %>
    <% end %>
  </div>
  <div>
    <h3><%= t("try_others")%></h3>
    <ul id="users-list">
      <% @wb_target_users.each do |u| %>
        <li style="background: url(<%= u.profile_img_link%>) 0 0 no-repeat; background-size: 72px;">
          <%= link_to u.name, wb_target_user_path(u) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>