<div class="center">
  <div class="leader">
    <!-- <h1>Real-time Social Analytics</h1>
    <p>See how Hot Weibos are performing - updated every 1 hour</p> -->
    <h1>热门微博实时分析<h1>
    <p>See how Hot Weibos are performing - updated every 1 hour</p>
  </div>
  <div class="try">
    <h1>添加微博账号<h1>
    <p>复制想分析的微博账号的地址并粘贴至此</p>
    <%= form_tag(wb_target_users_path, method: "post", class: "form-inline") do %>
      <%= text_field_tag(:account_url) %>
      <%= submit_tag(t("add"), class: "btn btn-primary btn-large") %>
    <% end %>
  </div>
  <div>
    <h3>或者，瞧瞧这些……</h3>
    <ul id="users-list">
      <% @wb_target_users.each do |u| %>
        <li style="background: url(<%= u.profile_img_link%>) 0 0 no-repeat; background-size: 72px;">
          <%= link_to u.name, wb_target_user_path(u) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>