<!DOCTYPE html>
<html>
<head>
  <title>Xhbr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container">
  <%= nav_bar :brand => t("hello"), :brand_link => root_path do %>
    <% if logged_in? %>
      <%= menu_group :pull => :right do %>
        <%= menu_item t("help_us"), help_path %>
        <%= menu_item t("logout"), logout_path %>
      <% end %>
    <% end %>
  <% end %>
  <div class="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
